*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
:root {
    /* FONT SIZE */
    --text-sm:1.2rem;
    --text-base:1.6rem;
    --text-paragraph:2rem;
    --text-h5:2.4rem;
    --text-h4:3.2rem;
    --text-h3:4rem;
    --text-h2:4.8rem;
    --text-h1:6.2rem;

    /* FONT WEIGHT */
    --font-weight-normal:400;
    --font-weight-bold:700;

    /* LINE HEIGHT */
    --line-height-tight:1.2;
    --line-height-normal:1.5;

    /* LETTER SPACING */
    --letter-spacing-tight:-2px;

    /* FONT FAMILY */
    --font-family: sans-serif;

    /* COLOR */
    --primary-base: #339af0;
    --primary-tint: #d0ebff;
    --primary-shade: #1c7ed6;

    --secondary-base: #9775fa;
    --secondary-tint: #e5dbff;
    --secondary-shade: #7048e8;

    --tertiary-base: #ff922b;
    --tertiary-tint: #ffe8cc;
    --tertiary-shade: #f76707;

    --grey-base: #495057;
    --grey-tint: #f1f3f5;
    --grey-shade: #212529;

    --white: #ffffff;
    --black: #000000;
    /* MISCELANUEOSE */
    --nav-height:100px;
}

/* GLOBAL SECTION */
body{
    font-family: var(--font-family);
    font-weight:var(--font-weight-normal);
    line-height: var(--line-height-normal);
    color: var(--grey-base);
}
.container {
  max-width: 1200px;
  width:90%;
  margin: 0 auto;
}

h1,h2,h3,h4,h5{
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
    letter-spacing: var(--letter-spacing-tight);
    color:var(--grey-shade);
}
h1{
    font-size: var(--text-h1);
}
h2{
    font-size: var(--text-h2);

}
h3{
    font-size: var(--text-h3);
}
p{
    font-size: var(--text-paragraph);
}
a{
    font-size: var(--text-base);
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
.a:link,    a:visited{
    color: var(--black);
}
span{
    display: inline-block;
}
.small-text{
    font-size: var(--text-sm);
}
/* COMPONENT */
.btn{
    font-size: var(--text-base);
    text-decoration: none;
    padding: 1.5rem 3rem;
    color: white;
    border-radius: 8px;
}
.btn-primary:link,.btn-primary:visited{
    color: var(--white);
    background-color:var(--primary-base);
    border: 2px solid var(--primary-base);
}
.btn-primary:hover,.btn-primary:active{
    color: var(--white);
    background-color:var(--primary-shade);
    border: 2px solid var(--primary-shade);
}
.btn-primary-outline:link,.btn-primary-outline:visited{
    background-color: var(--white);
    color:var(--primary-base);
    border: 2px solid var(--primary-base);
}
.btn-primary-outline:hover,.btn-primary-outline:active{
    background-color: var(--white);
    color:var(--primary-shade);
    border: 2px solid var(--primary-shade) ;
}
.btn-secondary:link,.btn-secondary:visited{
    color: var(--white);
    background-color:var(--secondary-base);
    border: 2px solid var(--secondary-base);
}
.btn-secondary:hover,.btn-secondary:active{
    color: var(--white);
    background-color:var(--secondary-shade);
    border: 2px solid var(--secondary-shade);
}
.highlight{
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 4px;
}
.highlight-primary{
    background-color: var(--primary-base);
}
.highlight-secondary{
    background-color: var(--tertiary-shade);
}
.highlight-tertiary{
    background-color: var(--tertiary-base);
}
.logo-md{
    width:100px;
}
.logo-sm{
    width: 80px;
}
/* HEADER */
/* .header{
    height: 100vh;
} */
/* NAVBAR */
.navbar{
    height: var(--nav-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-btn-container{
    display: flex;
    gap: 2rem;
}
/* HERO SECTION */
.hero-section{
    height: calc(100vh - var(--nav-height));
    min-height: 400px;
    margin-bottom :10rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-heading{
    margin-bottom: 1rem;
    text-align: center;
}
.hero-paragraph{
    margin-bottom: 5rem;
    text-align: center;
}
.hero-btn-container {
    display: flex;
    gap:2rem;
}
/* FEATURES SECTION */
.features-section{
    margin-bottom: 30rem;
}
.features-main-heading{
    text-align: center;
    margin-bottom:8rem;
}
.features-heading{
     margin-bottom: 2rem;
}
.features-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15rem;
    column-gap: 5rem;
    justify-items: center;
    align-items: center;
}
.features-img{
    max-width: 400px;
    width: 80%;
}
/* CTA SECTION */
.cta-section{
    display: flex;
    justify-content: center;
    margin-bottom: 30rem;
}
.cta-heading{
    margin-bottom:3rem ;
    color: var(--white);
}
.cta-card{
    text-align: center;
    background-color:var(--primary-base);
    max-width: 1000px;
    width: 100%;
    padding:10rem 20rem ;
    border-radius: 20px;

}
/* FOOTER */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 5rem;
}
.social-icons{
    width: 20px;
}
.social-icons-container{
    display: flex;
    gap:1.5rem;
}
.link-icons-container{
    display:flex;
    gap:1rem;
}
