/* LG:small laptop 1024px-1280 */

@media(max-width:72rem){
    html{
        font-size: 56.25%;
    }
    .features-grid-container{
        column-gap: 2rem;

    }
    .cta-section{
        margin-bottom: 20rem;
    }

    /* MD: tablets 768px-1024 */
}
@media(max-width:51rem){
    html{
        font-size: 50%;
    }

}
    /* SM: phone landscape 576px-768 */
@media(max-width:42rem){
    html{
        font-size: 43.75%;
    }
    .cta-card{
        padding:8rem 16rem;
    }
    .features-section{
        margin-bottom: 20rem;
    }
    .features-grid-container{
        row-gap: 5rem;
        column-gap: 0.5rem;
    }

}
    /* XS: phone portraint < 576px */
@media(max-width:34rem){
    html{
        font-size: 37.5%;
    }
    .hero-heading-break{
        display: none;
    }
    .hero-section{
        height: auto;
    }
    .features-grid-container{
        grid-template-columns: 1fr;
    }


}